<%- include('includes/head') %>
<%- include('includes/nav') %>

<div class='container'>
    <div class="contnet">
        <a href="/products" class="element"> products</a>
        <a href="/products" class="element"> products</a>
        <a href="/products" class="element"> products</a>
        <a href="/products" class="element"> products</a>
    </div>
</div>
<%- include('includes/footer') %>