<nav>
    <div class="container">
        <div class="nav-contnet">

            <div> <a href="/" class="logo"> test</a> </div>
            <ul>
                <li><a class="<%= path == 'home' ? ' active' :'' %>" href="/">home</a></li>
                <li><a class="<%= path == 'products' ? ' active':'' %>"  href="/products">products</a></li>
            </ul>
        </div>
    </div>
</nav>
